*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: aliceblue;
    color: black;
}

/* nav bar */
header{
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.navbar{
    max-width: 1100px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 500px;
    
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0078ff;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #0078ff;
}

.banner-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    height: 650px;
    width: auto;
    margin: auto;
    padding: 60px 20px;
}

 .banner-img {
    text-align: center;
 }

 .banner-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #b9d6f6;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
 }

 

.banner-content {
    padding: 20px;
}

.banner-content h2 {
    font-size: 2.2rem;
    color: #222;
}

.banner-content h4 {
    font-size: 1.3rem;
    color: #555;
    margin: 10px 0;
}

.banner-content h4 span {
    color: #8abaef;
    font-weight: 600;

}

.btn{
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background:  #0078ff;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn:hover{
    color: whitesmoke;
    background-color: rgb(197, 223, 246);
}